body, html {
	width:100%;
}
img {max-width:100%;}

@media screen and (max-width: 320px) {
	#main{MAX-width:100%;}
	#logo{ width:100%;text-align: center;}
   #logo img { width:100%; text-align:center; }

}
@media screen and (max-width: 480px) {
	#main{MAX-width:100%;}
	#logo{ width:100%;text-align: center;}
   #logo img { width:100%; text-align:center; }


}
@media screen and (max-width: 600px) {
	#main{MAX-width:100%;}
	#logo{ width:100%;text-align: center;}
   #logo img { width:50%; text-align:center; }


}
@media screen and (max-width: 800px) {
	#main{MAX-width:100%;}
	#logo{ width:100%;text-align: center;}
   #logo img { width:50%; text-align:center; }


}
@media screen and (max-width: 768px) {
	#main{MAX-width:100%;}
	#logo{ width:100%;text-align: center;}


}
