@charset "UTF-8";
/* CSS Document */

body{
	font-size:12px;
	line-height:1.55em;
	color:#fff;
	text-align:left;
    font: asap; 
	background:#f7941d;
	margin:0;
	padding:0;
	}
#main{ margin:0 auto;}
#logo{
	text-align: center;
}
#logo img{max-width: 100%;}
 .addthis_toolbox {
	
 position: fixed;
  top: 100%;
  left: 51%;
    margin-top: -60px;
  margin-left: -200px;
	}
	
/*img.teligoo {
  position: fixed;
  top: 30%;
  left: 50%;
    margin-top: -60px;
  margin-left: -200px;
	}*/
	
#mc_embed_signup {
  /*position: fixed;
  top: 70%;
  left: 50%;
    margin-top: -60px;
  margin-left: -200px;*/
  color: #fff;
	}
	
	/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup form {display:block; position:relative; text-align:left; padding:10px 0 10px 0%}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #f1f8e6; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #0078a4; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#0078a4;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}     
#mc_embed_signup .clear {clear:none; /*display:inline;*/  display: block;margin-top: 10px;}

#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font: asap;}
#mc_embed_signup input.email {display:block; padding:8px 0; /*margin:0 4% 10px 0;*/ text-indent:5px; width:58%; /*min-width:400px;*/ margin:0 auto;text-align: center;}
#mc_embed_signup input.button {display:block; width:10%; margin:0 0 10px 0; min-width:90px; margin:0 auto;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}




