html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
	outline:none;
}
img
{
border:none;
}
header, nav, section, article, figure, aside, footer, embed, hgroup, video {
	display: block;	
}
header
{
height:675px;
position:relative;
top:0px;
width:100%;
}
#header{
	margin:0 auto;
	width:1170px;
	}

body
{
font-family: 'Lato', sans-serif;
/*background:url(../images/body-bg.jpg) repeat top center;*/
}

.header-left{
	float:left;
	width:40%;
	}
.header-right{
	background:url(../images/nav_bg.png) repeat-x left top;
	float:right;
	height:24px;
	margin-top:10px;
	padding:20px 0;
	width:54%;	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	}
.header-right ul{
	list-style:none;
	padding-top:2px;
	width:105%;
	}
.header-right ul li{
	float:left;
	}
.header-right ul li a{
	float:left;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	padding:0 23px;
	display:block;
	font-size:15px;

	}
.header-right ul li a:hover{
	color:#000;
	}
/*.back_bg{
	width:100%;
	}*/

.orange_bar{
	background:#f7941d;
	clear:both;
	padding:50px 0;
	width:100%;
	}
.orange{
	color: #FFFFFF;
	margin:0 auto;
	font-size:32px;
	text-align:center;
	line-height: 1.7;
	font-weight: 200;
	width:1170px;
	}
.text_btm{
	clear:both;
	padding:50px 0;
	width:100%;
	}
.txt_btn_mar{
	color: #949494;
	margin:0 auto;
	font-size:16px;
	text-align:center;
	font-weight: 400;
    line-height: 28px;
	width:1170px;
	}
.right_img{
	position:fixed;
	right:0px;
	top:150px;
	}
.right_img:hover{
	right:-2px;
	}
.private{
	top:250px;
	}
	#image-static {
	margin-top: 0px;
	position:absolute;	
	width:100%;
}

.fullimage-container{
	width: 100%;
	position: relative;
	max-height: 700px;
	overflow: hidden;

}

.fullimage-container img {
	width: 100%;
}

.pattern {
	position: absolute;
	width: 100%;
	height: 100%;
	
	background: url(_include/img/pattern.png);
	opacity: 0.3;
	filter: alpha(opacity=30);
}
