/*-----------------------------------------------------------------------------------

	Theme Name: Anubis
	Theme URI: http://www.themes.alessioatzeni.com/wp/anubis
	Description: A Pixel-Perfect Responsive Theme for creatives.
	Author: Alessio Atzeni
	Author URI: http://www.alessioatzeni.com
	Version: 1.0.2

-------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------*/
/*	1.	Document Setup - Basic Style
/*-----------------------------------------------------------------------------------*/

html, hmtl a{
	width:100%;
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}

body{
	background:#FFFFFF;
	color:#323A45;
	font-weight:300;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	line-height:28px;
}


a{
	color:#323A45;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
	
	-webkit-transition: color 0.15s ease-in-out 0s;	
	   -moz-transition: color 0.15s ease-in-out 0s;
		 -o-transition: color 0.15s ease-in-out 0s;
		    transition: color 0.15s ease-in-out 0s;
}

a:hover,
a:active,
a:focus{
	outline: 0;
	color:#F97E76;
	text-decoration:none;
}

a img {
	border: none;
}

img {
	max-width: none;	
}

strong {
  	font-weight: 700;
}

p {
	margin: 0 0 30px;
}

.divider {
	position: relative;
    width: 100%;
    border-bottom: 1px solid #E6E6E6;
	margin: 20px 0 40px;
}

ul, ol {
    margin: 0 0 20px 0px;
    padding: 0;
}

ul {
	list-style: circle inside;
}

ol {
	list-style: decimal inside;
}

li {
	line-height: 30px;
}

.hidden { display: none; }

.alignleft { float: left; }

.alignright { float: right; }

.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}

.text-align-left {
	text-align: left;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;	
}

img.alignleft {
	float: left;
	margin: 20px 25px 20px 0;
}

img.alignright {
	display: block;
	margin: 20px 0 20px 25px;
}

img.aligncenter {
	display: block;
	clear: both;
	margin: 20px auto;
}

img.alignnone {
    display: block;
    margin: 20px 0;
}

.wp-caption {
	text-align: center;
	margin: 10px 20px 20px 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	max-width: 100%;
}

.wp-caption.aligncenter { margin: 20px auto; }

.wp-caption.alignleft { margin-left: 0; }

.wp-caption.alignright { margin-right: 0; }

.wp-caption.alignnone { margin-left: 0; }

.wp-caption img,
.wp-caption img a {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption
.wp-caption-text {
	margin: 0;
	padding: 5px;
}

.wp-smiley {
	max-height: 13px;
	margin: 0 !important;
}

address {
    display: block;
    font-style: normal;
    line-height: 24px;
    margin-bottom: 20px;
}

abbr[title],
acronym[title],
dfn[title] {
	cursor: help;
	border-bottom: 1px dotted #666;
}

.through{
	text-decoration:line-through;
}

input, button, select, textarea {
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	outline: 0;
	
	-webkit-appearance: none;
}

input:focus, 
textarea:focus,
input[type="text"]:focus {
	outline: 0;
}

input::input-placeholder,
textarea::input-placeholder {
	color: #BCBCC4;
	opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  	color: #BCBCC4;
	opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  	color: #BCBCC4;
	opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  	color: #BCBCC4;
	opacity: 1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  	color: #BCBCC4;
	opacity: 1;
}

code,
pre {
  	padding: 0 3px 2px;
  	-webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
  	color: #232527;
  	font-size: 12px;
  	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code {
  	padding: 2px 4px;
  	border: 1px solid #dde4e9;
  	background-color: #F6F6F6;
  	color: #232527;
  	white-space: nowrap;
}

pre {
  	display: block;
  	margin: 30px;
  	padding: 15px;
  	border: 1px solid #dde4e9;
  	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  	background-color: #FCFCFC;
  	white-space: pre;
  	white-space: pre-wrap;
  	word-wrap: break-word;
  	word-break: break-all;
  	font-size: 12px;
  	line-height: 20px;
}

pre code {
  	padding: 0;
  	border: 0;
  	background-color: transparent;
  	color: inherit;
  	white-space: pre;
  	white-space: pre-wrap;
}

.pre-scrollable {
  	overflow-y: scroll;
  	max-height: 340px;
}

.sticky {}

.bypostauthor {}

.gallery-caption { 
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
    margin-left: 0; 
}

/*-----------------------------------------------------------------------------------*/
/*	2.	Typography
/*-----------------------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 20px 0;
	color:#323A45;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;
	line-height:1.5em;
}

h1{
	font-size:48px;
}

h2{
	font-size:36px;
}

h3{
	font-size:24px;
}

h4{
	font-size:20px;
}

h5{
	font-size:18px;
}

h6{
	font-size:16px;
}


/*-----------------------------------------------------------------------------------*/
/*	3.	Margins Bottom Pack
/*-----------------------------------------------------------------------------------*/

.margin-0{
	margin-bottom:0 !important;
}

.margin-10{
	margin-bottom:10px !important;
}

.margin-15{
	margin-bottom:15px !important;
}

.margin-20{
	margin-bottom:20px !important;
}

.margin-30{
	margin-bottom:30px !important;
}

.margin-40{
	margin-bottom:40px !important;
}

.margin-50{
	margin-bottom:50px !important;
}

.margin-60{
	margin-bottom:60px !important;
}

.margin-70{
	margin-bottom:70px !important;
}

.margin-80{
	margin-bottom:80px !important;
}

.margin-90{
	margin-bottom:90px !important;
}

.margin-100{
	margin-bottom:100px !important;
}

/*-----------------------------------------------------------------------------------*/
/*	4.	Header Section
/*-----------------------------------------------------------------------------------*/

header {
	background: #323A45;
	position: fixed;
	width: 100%;
	height: 100px;
	z-index: 1001;
	top: 0;
	left: 0;
}

header #logo a {
	color: #FFFFFF;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 100px;
	letter-spacing: -0.6px;
}

header #logo a:hover {
	color: #F97E76;	
}

#logo a img {
	max-width: 100%;
}

#logo img.retina {
	display: none;
}

/* Navigation */

nav#menu {
	float: right;
}

nav#menu #menu-nav {
	margin: 0;
	padding: 0;
}

nav#menu #menu-nav li {
	position: relative;	
	list-style: none;
	float: left;
	padding: 0 25px;
}

nav#menu #menu-nav li a {
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 600;
	line-height: 100px;
	display: block;
	letter-spacing: -0.2px;
	text-transform: uppercase;
}

nav#menu #menu-nav li:last-child {
	padding-right: 0;
}

nav#menu #menu-nav li a:hover,
nav#menu #menu-nav li.sfHover a,
nav#menu #menu-nav li.active a,
nav#menu #menu-nav li.current_page_item a,
nav#menu #menu-nav li.current-page-ancestor a,
nav#menu #menu-nav li.current-menu-ancestor a {
	color: #F97E76;
}

/* Sub Menu */

nav#menu #menu-nav ul {
	position: absolute;
	top: -9999em;
	width: 140px !important;
}

nav#menu #menu-nav ul li { 
	width: 100%; 
}

nav#menu #menu-nav li:hover ul,
nav#menu #menu-nav li.sfHover ul {
	left: 50%;
	margin-left: -85px;
	top: 90px;
	z-index: 99;
}

nav#menu #menu-nav li:hover ul:before {
    border-bottom: 10px solid #F97E76;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -10px;
    content: "";
    left: 50%;
	margin-left: -10px;
    position: absolute;
}

/* Hide all subs subs (4 levels deep) */

nav#menu #menu-nav li:hover li ul,
nav#menu #menu-nav li.sfHover li ul,
nav#menu #menu-nav li li:hover li ul,
nav#menu #menu-nav li li.sfHover li ul,
nav#menu #menu-nav li li li:hover li ul,
nav#menu #menu-nav li li li.sfHover li ul { 
	top: -9999em; 
}

/* Displays all subs subs (4 levels deep) */

nav#menu #menu-nav li li:hover ul,
nav#menu #menu-nav li li.sfHover ul,
nav#menu #menu-nav li li li:hover ul,
nav#menu #menu-nav li li li.sfHover ul,
nav#menu #menu-nav li li li li:hover ul,
nav#menu #menu-nav li li li li.sfHover ul {
	left: 241px !important;
	top: -5px;
}

nav#menu #menu-nav li li:hover ul:before ,
nav#menu #menu-nav li li.sfHover ul:before ,
nav#menu #menu-nav li li li:hover ul:before ,
nav#menu #menu-nav li li li.sfHover ul:before ,
nav#menu #menu-nav li li li li:hover ul:before ,
nav#menu #menu-nav li li li li.sfHover ul:before  {
	border: none;
	
}

/* 2nd level skin */

nav#menu #menu-nav ul {
	padding: 0;
	background: #F97E76;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px 15px 15px;
}

nav#menu #menu-nav ul li {
	line-height: 25px;
	float: none;
	background: none;
	position: relative;
	padding: 0;
}

nav#menu #menu-nav ul li:last-child { 
	border: 0; 
}

nav#menu #menu-nav ul li a {
	text-align: center;
    color: #FFFFFF;
	line-height: 35px;
	height: 35px;
	padding: 0;
}

nav#menu #menu-nav li.sfHover ul a { 
	font-size: 13px;
	color: #FFFFFF; 
}

nav#menu #menu-nav li.sfHover ul a:hover { 
	color: #323A45; 
}

/*-----------------------------------------------------------------------------------*/
/*	5.	Mobile Navigation
/*-----------------------------------------------------------------------------------*/

#mobile-nav {
	display: none;	
}

.menu-nav {
	position: relative;
	width: 60px;
	height: 60px;
	display: block;
}

.menu-nav .menu-icon {
	position: absolute;
	width: 16px;
	height: 16px;
	margin: -8px 0 0 0;
	top: 50%;
	right: 0;
	
	background: url(_include/img/menu-mobile.png) 0 0 no-repeat;	
	
	-webkit-transform: rotate(0deg);
	   -moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		 -o-transform: rotate(0deg);
			transform: rotate(0deg);
	
	-webkit-transition: -webkit-transform 250ms ease-out 0s;	
	   -moz-transition: -moz-transform 250ms ease-out 0s;
		 -o-transition: -o-transform 250ms ease-out 0s;
		    transition: transform 250ms ease-out 0s;
}

.menu-nav.open .menu-icon {
	background-position: 0 -16px;
		  
	-webkit-transform: rotate(-180deg);
	   -moz-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		 -o-transform: rotate(-180deg);
			transform: rotate(-180deg);
	
	-webkit-transition: -webkit-transform 250ms ease-out 0s;	
	   -moz-transition: -moz-transform 250ms ease-out 0s;
		 -o-transition: -o-transform 250ms ease-out 0s;
		    transition: transform 250ms ease-out 0s;
}

#navigation-mobile {
	position: relative;
	background: #23282F;
	
	display: none;
}

#menu-nav-mobile {
	margin: 0;
	padding: 10px 0;
}

#menu-nav-mobile li {
	list-style: none;
	border-top: 1px solid #313335;
}

#navigation-mobile li:first-child {
	border-top: none;
}

#navigation-mobile li a{
	color: #FFFFFF;
	display: block;
	font-size: 13px;
	text-transform: uppercase;
	padding: 5px 0;
}

#navigation-mobile li a:hover {
	color: #F97E76;	
}

#menu-nav-mobile ul.sub-menu {
    background: transparent;
    margin: 0;
    position: relative;
    top: auto;
    width: auto;
}

#menu-nav-mobile ul.sub-menu li {
    border-top: 1px solid #313335;
    height: auto;
    margin-top: 0;
}

#menu-nav-mobile .sub-menu li a {
	padding-left: 20px;	
}

/*-----------------------------------------------------------------------------------*/
/*	6.	Arrow Tip
/*-----------------------------------------------------------------------------------*/

.arrow {
    border-bottom: 20px solid #FFFFFF;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    bottom: 0;
    left: 50%;
	margin-left: -20px;
    position: absolute;
}

.arrow-down {
    border-top: 20px solid #FFFFFF;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: 0;
    left: 50%;
	margin-left: -20px;
    position: absolute;
}

.arrow-port {
    border-top: 20px solid #FFFFFF;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    bottom: -20px;
    left: 50%;
	margin-left: -20px;
    position: absolute;
}

/*-----------------------------------------------------------------------------------*/
/*	7.	Revolution Slider Setup Graphics
/*-----------------------------------------------------------------------------------*/

#slider-header {
	margin-top: 100px;	
}

.fullwidthbanner ul li {
	list-style: none;	
}

.rev_slider_wrapper:hover .tp-bullets,
.rev_slider_wrapper:hover .tparrows{
	opacity: 1;
	filter: alpha(opacity=100);
}

.tp-bullets.simplebullets.round .bullet {
	background-image: none;
	background-color: #323A45;
	width: 10px;
	height: 10px;
	
	margin-top: 0;
	margin-left: 10px;
	
	-webkit-border-radius: 999px;
	   -moz-border-radius: 999px;
			border-radius: 999px;
	
	opacity: 0.6;
	filter: alpha(opacity=60);
	
	-webkit-transition: opacity 0.15s ease-in-out 0s, background 0.15s ease-in-out 0s;	
	   -moz-transition: opacity 0.15s ease-in-out 0s, background 0.15s ease-in-out 0s;
		 -o-transition: opacity 0.15s ease-in-out 0s, background 0.15s ease-in-out 0s;
		    transition: opacity 0.15s ease-in-out 0s, background 0.15s ease-in-out 0s;
}

.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected {
	background-color: #F97E76;
	
	opacity: 1;
	filter: alpha(opacity=100);
}

.tparrows:before {
    display: inline-block;
    font-family: 'Icons';
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    margin-right: 0;
    margin-top: 6px;
    text-align: center;
    text-decoration: inherit;
    width: 37px;
}

.tparrows:before {
    margin-top: 5px;
}

.tp-leftarrow.default {
	background-image: none;
	background-color: #323A45;
    -webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    height: 37px;
    position: relative;
    top: 50% !important;
    width: 37px;
    z-index: 100;	
}

.tp-rightarrow.default {
	background-image: none;
	background-color: #323A45;
    -webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    height: 37px;
    position: relative;
    top: 50% !important;
    width: 37px;
    z-index: 100;	
}

.tparrows {
	background-image: none;
    background-color: #323A45;
    -webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    height: 37px;
    position: relative;
    top: 50% !important;
    width: 37px;
    z-index: 100;
	
	-webkit-transition: opacity 0.15s ease-in-out 0s, background 0.15s ease-in-out 0s;	
	   -moz-transition: opacity 0.15s ease-in-out 0s, background 0.15s ease-in-out 0s;
		 -o-transition: opacity 0.15s ease-in-out 0s, background 0.15s ease-in-out 0s;
		    transition: opacity 0.15s ease-in-out 0s, background 0.15s ease-in-out 0s;
}

.tp-leftarrow:before {
    content: "\e0d6";
}

.tp-rightarrow:before {
    content: "\e0d4";
}

.tparrows.tp-rightarrow:before {
    margin-left: 1px;
}

.tparrows:hover {
    background-color: #F97E76;
    color: #FFFFFF;
}

.tp-caption.very_big_custom_text{
	position: absolute;
	color: #FFFFFF;
	text-shadow: none;
	font-weight: 300;
	font-size: 50px;
	line-height: 50px;
	padding: 5px 10px 8px;
	margin: 0px;
	border-width: 0px;
	border-style: none;
	white-space:nowrap;
	
	
	background-color: rgba(0,0,0,0.55);
}

.tp-caption.custom_text{
	position: absolute;
	color: #FFFFFF;
	text-shadow: none;
	font-weight: 300;
	font-size: 36px;
	line-height: 36px;
	padding: 5px 10px 8px;
	margin: 0px;
	border-width: 0px;
	border-style: none;
	white-space:nowrap;
	
	
	background-color: rgba(0,0,0,0.55);
}

.tp-caption.custom_text_link {
	position: absolute;
	color: #FFFFFF;
	text-shadow: none;
	font-weight: 300;
	font-size: 36px;
	line-height: 36px;
	padding: 5px 10px 8px;
	margin: 0px;
	border-width: 0px;
	border-style: none;
	white-space:nowrap;
	
	
	background-color: rgba(0,0,0,0.55);
}

.tp-caption.custom_text_link a {
	color: #F97E76;	
	font-weight: 300;
}

.tp-caption.custom_text_link a:hover {
	color: #FFFFFF;	
}
					
/*-----------------------------------------------------------------------------------*/
/*	8.	Full-width Image
/*-----------------------------------------------------------------------------------*/

#image-static {
	margin-top: 100px;
}

.fullimage-container{
	width: 100%;
	position: relative;
	max-height: 700px;
	overflow: hidden;
}

.fullimage-container img {
	width: 100%;
}

.pattern {
	position: absolute;
	width: 100%;
	height: 100%;
	
	background: url(_include/img/pattern.png);
	opacity: 0.3;
	filter: alpha(opacity=30);
}


/*-----------------------------------------------------------------------------------*/
/*	9.	Section Title Page
/*-----------------------------------------------------------------------------------*/

#title-page {
	position: relative;
	background-color: #E9F0F4;
	margin-top: 100px;
}

#title-page h2 {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.2;
	padding: 60px 0;
	margin-bottom: 0;
	text-align: center;
}

.page-title {
	padding: 0 0 40px;	
	border-bottom: 1px solid #E6E6E6;
	margin-bottom: 50px;
}

.page-title h3 {
	font-size: 36px;
    line-height: 1.5;
    margin-bottom: 20px;
	font-weight: 300;
    padding: 0 25px;
	margin-bottom: 0;
    text-align: center;
}


/*-----------------------------------------------------------------------------------*/
/*	10.	Intro Box
/*-----------------------------------------------------------------------------------*/

#intro-box {
	position: relative;
	background: #F97E76;
	padding: 70px 0 80px;
}

#intro-box h3 {
	color: #FFFFFF;
	font-size: 32px;
    font-weight: 300;
	line-height: 1.7;
    padding: 0 30px;
	margin-bottom: 0;
    text-align: center;	
}

#intro-box h4 {
	color: #FFFFFF;
	font-size: 18px;
    font-weight: 300;
	font-style: italic;
	line-height: 1.7;
    padding: 0;
	margin-bottom: 0;
    text-align: center;	
}

/*-----------------------------------------------------------------------------------*/
/*	11.	Content
/*-----------------------------------------------------------------------------------*/

#content {
	padding: 100px 0 90px;
    position: relative;
}

/*-----------------------------------------------------------------------------------*/
/*	12.	Team and Single Post Team 
/*-----------------------------------------------------------------------------------*/

#team-filter .dropdown {
	float: right;
}

#people {
	margin: 0;
	padding: 0;	
}

#people li {
	list-style: none;	
}

#people li img {
	width: 100%;	
}

.single-people {
	margin-bottom: 30px;
	overflow: hidden;	
}

.single-people .team-img {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 18px;	
}

.single-people .team-img .overlay {
	position: absolute;
	display: block;
    height: 100%;
    width: 100%;
	left: 0;
	top: 0;
	
	background: #F97E76;
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 0.35s ease-in-out 0s;	
	   -moz-transition: opacity 0.35s ease-in-out 0s;
		 -o-transition: opacity 0.35s ease-in-out 0s;
		    transition: opacity 0.35s ease-in-out 0s;
}

.single-people:hover .team-hover .overlay,
.single-people:active .team-hover .overlay,
.single-people.tapped .team-hover .overlay {
	opacity: 0.85;	
	filter: alpha(opacity=85);
}

.single-people .team-hover i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -12px;
	
	color: #FFFFFF;
	font-size: 24px;	
	
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 0.15s ease-in-out 0s;	
	   -moz-transition: opacity 0.15s ease-in-out 0s;
		 -o-transition: opacity 0.15s ease-in-out 0s;
		    transition: opacity 0.15s ease-in-out 0s;
}

.single-people:hover .team-hover i,
.single-people:active .team-hover i,
.single-people.tapped .team-hover i {
	opacity: 1;	
	filter: alpha(opacity=100);
}

.single-people .team-name {
	text-align: center;	
}

.single-people .team-name h3 {
	font-size: 16px;
    font-weight: 600;
	margin: 0;
}

.single-people .team-name h4 {
	font-size: 13px;
	font-weight: 400;
	margin: 5px 0 0 0;
}

/* Single Team Page */

#single-team .team-img {
	margin-bottom: 40px;	
}

#single-team .team-img img {
	width: 100%;
}

#single-team .team-social ul {
	margin: 0;
	padding: 25px 0 0;
	
	border-top: 1px solid #E6E6E6;
}

#single-team .team-social ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px 0 0;	
}

#single-team .team-social ul li a {
	display: block;
}

#single-team .team-social ul li a i {
	font-size: 20px;
	color: #D0DBE2;
	
	-webkit-transition: color 0.15s ease-in-out 0s;	
	   -moz-transition: color 0.15s ease-in-out 0s;
		 -o-transition: color 0.15s ease-in-out 0s;
		    transition: color 0.15s ease-in-out 0s;
}

#single-team .team-social ul li a:hover i {
	color: #F97E76;
}

#single-team .team-name h2 {
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 5px;
}

#single-team .team-name h3 {
	font-size: 16px;
	font-weight: 400;
}

#single-team .paginate-team {
	text-align: center;
	margin: 60px 0 0 0;	
}

#single-team .paginate-team ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

#single-team .paginate-team ul li {
	display: inline-block;
	list-style: none;	
}

#single-team .paginate-team ul li.prev a,
#single-team .paginate-team ul li.next a,
#single-team .paginate-team ul li.back-page a{
	width: 40px;
	height: 40px;
	padding: 0;
	position: relative;
	display: inline-block;
	
	background: #323A45;
	
	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
	
	text-indent: -9999px;	
	
	-webkit-transition: background 0.15s ease-in-out 0s;	
	   -moz-transition: background 0.15s ease-in-out 0s;
		 -o-transition: background 0.15s ease-in-out 0s;
		    transition: background 0.15s ease-in-out 0s;
}

#single-team .paginate-team ul li.prev a i,
#single-team .paginate-team ul li.next a i,
#single-team .paginate-team ul li.back-page a i {
	color: #FFFFFF;
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
	text-indent: 0;	
}

#single-team .paginate-team ul li.prev a i {
	margin: -8px 0 0 -9px;
}

#single-team .paginate-team ul li.prev a:hover,
#single-team .paginate-team ul li.next a:hover,
#single-team .paginate-team ul li.back-page a:hover {
	background-color: #F97E76;
}

#single-team .paginate-team .separator {
    height: 2px;
    position: relative;
    width: 50px;
	margin: 20px auto 60px;
	background: #F97E76;
}



/*-----------------------------------------------------------------------------------*/
/*	13.	Portfolio and Single Post Portfolio
/*-----------------------------------------------------------------------------------*/

#portfolio img {
	width: 100%;	
}

#portfolio-filter .dropdown {
    float: right;
}

#projects {
	margin: 0;
	padding: 0;
}

#projects li {
	list-style: none;
	margin-bottom: 30px;
}

.item-project {
	position: relative;
	overflow: hidden;	
}

.item-project .hover-wrap {
    position: relative;
	overflow: hidden;
	display: block;
    height: 100%;
    width: 100%;
}

.item-project .hover-wrap img {
	position: relative;
	width: 100%;	
	
	top: 0;
	
	-webkit-transition: top 0.15s ease-in-out 0s;	
	   -moz-transition: top 0.15s ease-in-out 0s;
		 -o-transition: top 0.15s ease-in-out 0s;
		    transition: top 0.15s ease-in-out 0s;
}

.item-project:hover .hover-wrap img,
.item-project:active .hover-wrap img,
.item-project.tapped .hover-wrap img {
	top: 80px;
}

.item-project .hover-wrap .overlay {
	position: absolute;
	display: block;
    height: 100%;
    width: 100%;
	left: 0;
	top: 0;
	
	background: #F97E76;
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 0.15s ease-in-out 0s;	
	   -moz-transition: opacity 0.15s ease-in-out 0s;
		 -o-transition: opacity 0.15s ease-in-out 0s;
		    transition: opacity 0.15s ease-in-out 0s;
}

.item-project:hover .hover-wrap .overlay,
.item-project:active .hover-wrap .overlay,
.item-project.tapped .hover-wrap .overlay {
	opacity: 0.85;	
	filter: alpha(opacity=85);
}

.item-project i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 41px 0 0 -8px;
	
	color: #FFFFFF;
	font-size: 16px;	
	
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 0.15s ease-in-out 0s;	
	   -moz-transition: opacity 0.15s ease-in-out 0s;
		 -o-transition: opacity 0.15s ease-in-out 0s;
		    transition: opacity 0.15s ease-in-out 0s;
}

.item-project:hover .hover-wrap i,
.item-project:active .hover-wrap i,
.item-project.tapped .hover-wrap i {
	opacity: 1;	
	filter: alpha(opacity=100);
}

.item-project h5 {
	position: absolute;
	top: -120px;
    background-color: #FFFFFF;
    padding: 30px 0;
    text-align: center;
    width: 100%;
	margin-bottom: 0;
	
	border: 1px solid #E9F0F4;
	border-bottom: none;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	z-index:2;
	
	-webkit-transition: all 0.15s ease-in-out 0s;	
	   -moz-transition: all 0.15s ease-in-out 0s;
		 -o-transition: all 0.15s ease-in-out 0s;
		    transition: all 0.15s ease-in-out 0s;
}

.item-project:hover h5,
.item-project:active h5,
.item-project.tapped h5 {
	top: 0px;	
}

.item-project h5 a {
	font-weight: 400;
	display: block;	
}

/* Single Portfolio Item */

#portfolio-content img {
	width: 100%;	
}

.paginate-portfolio {
	text-align: center;
	margin: 60px 0 0 0;	
}

.paginate-portfolio ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.paginate-portfolio ul li {
	display: inline-block;
	list-style: none;	
}

.paginate-portfolio ul li.prev a,
.paginate-portfolio ul li.next a,
.paginate-portfolio ul li.back-page a{
	width: 40px;
	height: 40px;
	padding: 0;
	position: relative;
	display: inline-block;
	
	background: #323A45;
	
	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
	
	text-indent: -9999px;	
	
	-webkit-transition: background 0.15s ease-in-out 0s;	
	   -moz-transition: background 0.15s ease-in-out 0s;
		 -o-transition: background 0.15s ease-in-out 0s;
		    transition: background 0.15s ease-in-out 0s;
}

.paginate-portfolio ul li.prev a i,
.paginate-portfolio ul li.next a i,
.paginate-portfolio ul li.back-page a i {
	color: #FFFFFF;
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
	text-indent: 0;	
}

.paginate-portfolio ul li.prev a i {
	margin: -8px 0 0 -9px;
}

.paginate-portfolio ul li.prev a:hover,
.paginate-portfolio ul li.next a:hover,
.paginate-portfolio ul li.back-page a:hover {
	background-color: #F97E76;
}

.paginate-portfolio .separator {
    height: 2px;
    position: relative;
    width: 50px;
	margin: 20px auto 60px;
	background: #F97E76;
}

/*-----------------------------------------------------------------------------------*/
/*	14.	Map Area and Contact 
/*-----------------------------------------------------------------------------------*/

#map-area {
	width: 100%;	
	margin-top: 100px;
}

.map {
	height: 700px;	
}

.wpcf7-form {
	margin-bottom: 0;	
}

.wpcf7-form p {
	margin-top: 30px;	

}

.wpcf7 .watermark {
	color: #BCBCC4 !important;
}

.wpcf7 input, 
.wpcf7 textarea {
    border: 1px solid #E9F0F4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    border-radius: 2px;
	
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	background: #FFFFFF;
    color: #BCBCC4;
    font-size: 16px;
    height: auto;
    padding: 15px;
	margin: 0;
	
    resize: none;
	
	-webkit-appearance: none;
	
	-webkit-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;	
	   -moz-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
		 -o-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
		    transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
}

.wpcf7 input:focus, 
.wpcf7 textarea:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	border-color: #D0DBE2;
	color: #323A45;
}

.wpcf7 input {
    width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wpcf7 textarea {
    width: 100%;
	resize: vertical;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wpcf7 .wpcf7-submit {
    background: #323A45;
    color: #FFFFFF;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    border-radius: 2px;
	
	border: none;
	
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 40px;
    text-align: center;
    vertical-align: middle;
    width: auto;
	
	-webkit-appearance: none;
	
	-webkit-transition: background 0.15s ease-in-out 0s;
	   -moz-transition: background 0.15s ease-in-out 0s;
		 -o-transition: background 0.15s ease-in-out 0s;
		    transition: background 0.15s ease-in-out 0s;
}

.wpcf7 .wpcf7-submit:hover {
    background: #F97E76;
}

.wpcf7-form.invalid input.wpcf7-not-valid,
.wpcf7-form.invalid textarea.wpcf7-not-valid,
.wpcf7-form input:focus:invalid:focus,
.wpcf7-form textarea:focus:invalid:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	border-color: #F97E76;
}

.wpcf7-form.invalid span.wpcf7-not-valid-tip {
	display: none;
}

.wpcf7 .wpcf7-response-output {
	margin: 0;
	padding: 0;	
}

.wpcf7 .wpcf7-validation-errors,
.wpcf7 .wpcf7-mail-sent-ng,
.wpcf7 .wpcf7-mail-sent-ok {
	border: none;
}

#content .wpcf7 img.ajax-loader {
	width: auto;
	margin-left: 15px;
}

/*-----------------------------------------------------------------------------------*/
/*	15.	Blog
/*-----------------------------------------------------------------------------------*/

#blog {
	position: relative;
}

#blog .post img {
	width: 100%;	
}

/* Full Width Post */

.blog-post-full .hover-post {
	display: block;	
}

.blog-post-full .post-thumb {
    position: relative;
	overflow: hidden;
	display: block;
    height: 100%;
    width: 100%;
	margin-bottom: -40px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.blog-post-full .post-thumb .overlay {
	position: absolute;
	display: block;
    height: 100%;
    width: 100%;
	left: 0;
	top: 0;
	
	background: #F97E76;
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 0.35s ease-in-out 0s;	
	   -moz-transition: opacity 0.35s ease-in-out 0s;
		 -o-transition: opacity 0.35s ease-in-out 0s;
		    transition: opacity 0.35s ease-in-out 0s;
}

.blog-post-full .post-thumb i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
	font-size: 16px;
	color: #FFFFFF;	
	
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 0.15s ease-in-out 0s;	
	   -moz-transition: opacity 0.15s ease-in-out 0s;
		 -o-transition: opacity 0.15s ease-in-out 0s;
		    transition: opacity 0.15s ease-in-out 0s;
}

.blog-post-full .post-thumb:hover .overlay,
.blog-post-full .post-thumb:active .overlay,
.blog-post-full .post-thumb.tapped .overlay {
	opacity: 0.85;	
	filter: alpha(opacity=85);
}

.blog-post-full .post-thumb:hover i,
.blog-post-full .post-thumb:active i,
.blog-post-full .post-thumb.tapped i {
	opacity: 1;	
	filter: alpha(opacity=100);
}

.blog-post-full .post .separator {
    height: 2px;
    position: relative;
    width: 50px;
	margin: 20px auto 0;
	background: #F97E76;
}

.blog-post-full .post {
	margin-bottom: 60px;
}

.blog-post-full .entry-title {
	font-size: 36px;
	text-align: center;
	margin: 20px 0 8px 0;
}

.blog-post-full .entry-title a {
	color: #323A45;
	font-weight: 400;
}

.blog-post-full .entry-title a:hover {
	color: #F97E76;
}

.blog-post-full .entry-type {
    position: relative;
	width: 80px;
	margin: 0 auto;
	line-height: 1;
    z-index: 1000;
}

.blog-post-full .entry-type a{
	position: relative;
	display: inline-block;
	width: 80px;
	height: 80px;
	
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	
	background-color: #F97E76;
}

.blog-post-full .entry-type a i{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 24px;
	margin: -12px 0 0 -12px;
	color: #FFFFFF;
}

.blog-post-full .entry-content {
	text-align: justify;
}

.blog-post-full .entry-meta {
	margin-bottom: 30px;	
}

.blog-post-full .entry-meta, 
.blog-post-full .entry-meta a {
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	color: #AEAEAE;
}

.blog-post-full .entry-meta a:hover {
	color: #F97E76;
}

.blog-post-full .entry-meta .dividers {
    padding: 0 3px;
}

.blog-post-full .more-link {
	display: block;
	padding: 10px 0 0;
	text-align: center;	
}

/* Navigation Blog */

.blog-post-full .pagination-blog ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.blog-post-full .pagination-blog ul li {
	display: inline-block;
	list-style: none;	
}

.blog-post-full .pagination-blog ul li a, 
.blog-post-full .pagination-blog ul li.current {
    color: #9C9C9C;
    display: inline-block;
    padding: 2px 8px 4px;
}

.blog-post-full .pagination-blog ul li.prev a,
.blog-post-full .pagination-blog ul li.next a{
	width: 40px;
	height: 40px;
	padding: 0;
	position: relative;
	display: inline-block;
	
	background: #323A45;
	
	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
	
	text-indent: -9999px;	
	
	-webkit-transition: background 0.15s ease-in-out 0s;	
	   -moz-transition: background 0.15s ease-in-out 0s;
		 -o-transition: background 0.15s ease-in-out 0s;
		    transition: background 0.15s ease-in-out 0s;
}

.blog-post-full .pagination-blog ul li.prev a i,
.blog-post-full .pagination-blog ul li.next a i {
	color: #FFFFFF;
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
	text-indent: 0;	
}

.blog-post-full .pagination-blog ul li.prev a i {
	margin-left: -9px;	
}
.blog-post-full .pagination-blog ul li.next a i {
	margin-left: -7px;	
}

.blog-post-full .pagination-blog ul li.prev a:hover,
.blog-post-full .pagination-blog ul li.next a:hover {
	background-color: #F97E76;
}

/* Post Meta */

.blog-post-full .quote-text,
.blog-post-full .link-text,
.blog-post-full .link-text a {
	padding: 0 30px;
	font-weight: 600;
	margin-bottom: 30px;
}

/* Blog Single Post */

#intro-box.single-post {
	position: relative;
	background: #F97E76;
	padding: 70px 0 80px;
}

#intro-box.single-post.no-featured-post {
	margin-top: 100px;
}

#intro-box.single-post .entry-title {
	color: #FFFFFF;
	font-size: 32px;
    font-weight: 300;
	line-height: 1.7;
    padding: 0 30px;
	margin-bottom: 0;
    text-align: center;	
}

#intro-box.single-post .entry-meta, 
#intro-box.single-post .entry-meta a {
	color: #FFFFFF;
	font-size: 18px;
    font-weight: 300;
	font-style: italic;
	line-height: 1.7;
    padding: 0;
	margin-bottom: 0;
    text-align: center;	
}

#intro-box.single-post .entry-meta a:hover {
	color: #323A45;
}

.single-post .post .separator {
    height: 2px;
    position: relative;
    width: 50px;
	margin: 60px auto 50px;
	background: #F97E76;
}

.single-post .hover-post {
	display: block;	
}

.single-post .post-thumb {
    position: relative;
	overflow: hidden;
	display: block;
    height: 100%;
    width: 100%;
	margin-bottom: 50px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.single-post .post-thumb .overlay {
	position: absolute;
	display: block;
    height: 100%;
    width: 100%;
	left: 0;
	top: 0;
	
	background: #F97E76;
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 0.35s ease-in-out 0s;	
	   -moz-transition: opacity 0.35s ease-in-out 0s;
		 -o-transition: opacity 0.35s ease-in-out 0s;
		    transition: opacity 0.35s ease-in-out 0s;
}

.single-post .post-thumb i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
	font-size: 16px;
	color: #FFFFFF;	
	
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 0.15s ease-in-out 0s;	
	   -moz-transition: opacity 0.15s ease-in-out 0s;
		 -o-transition: opacity 0.15s ease-in-out 0s;
		    transition: opacity 0.15s ease-in-out 0s;
}

.single-post .post-thumb:hover .overlay,
.single-post .post-thumb:active .overlay,
.single-post .post-thumb.tapped .overlay {
	opacity: 0.85;	
	filter: alpha(opacity=85);
}

.single-post .post-thumb:hover i,
.single-post .post-thumb:active i,
.single-post .post-thumb.tapped i {
	opacity: 1;	
	filter: alpha(opacity=100);
}

.single-post .entry-title {
	font-size: 36px;
	margin: 0 0 8px 0;
}

.single-post .entry-title a {
	color: #323A45;
	font-weight: 400;
}

.single-post .entry-title a:hover {
	color: #F97E76;
}

.single-post .entry-meta {
	margin-bottom: 30px;	
}

.single-post .entry-meta, 
.single-post .entry-meta a {
	font-size: 14px;
	font-weight: 300;
	color: #AEAEAE;
}

.single-post .entry-meta a:hover {
	color: #F97E76;
}

.single-post .entry-meta.entry-footer {
    padding-top: 20px;
}

.single-post .entry-meta .dividers {
    padding: 0 3px;
}

/*-----------------------------------------------------------------------------------*/
/*	16.	Comments
/*-----------------------------------------------------------------------------------*/

#comments {
	
}

.comments-title, 
.pings-title, 
#reply-title {
    border-bottom: 1px solid #E6E6E6;
    font-size: 28px;
    font-weight: 300;
    line-height: 38px;
    margin: 0 0 50px;
    padding: 0 0 20px;
}

.commentlist,
.pinglist {
    list-style-type: none;
    margin: 20px 0 90px;
}

.comment {
    position: relative;
}

.comment-side {
    float: left;
    margin: 0 30px 0 0;
}

.comment-side .avatar {
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
    border-radius: 999px;
    display: block;
    height: 50px;
    width: 50px;
}

.comment .comment-cont {
    margin-left: 80px;
}

.comment-author cite, 
.comment-author cite a {
    color: #323A45;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
}

.comment-author cite a:hover {
    color: #F97E76;
}

.comment-meta, 
.comment-meta a {
    color: #AEAEAE;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.comment-meta a:hover {
    color: #F97E76;
}

.comment-meta {
    margin: 8px 0 15px;
}

.comment-body {
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.comment-body p {
    line-height: 30px;
}

.children {
    list-style: none;
    margin: 0;
    padding: 0;
}

.children .comment {
    padding-left: 90px;
}

.badge {
    background: #F97E76;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    border-radius: 2px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    position: absolute;
    right: 0;
    text-shadow: none;
    text-transform: uppercase;
    top: 0;
}

/* Comment Form */

#commentform p {
    margin-bottom: 35px;
    overflow: hidden;
}

#commentform label, 
#commentform span.required {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    top: 12px;
}

#commentform span.required {
    color: #F97E76;
    font-size: 12px;
    top: 0;
}

#commentform input, 
#commentform textarea {
    border: 1px solid #E9F0F4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    border-radius: 2px;
	
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	background: #FFFFFF;
    color: #BCBCC4;
    font-size: 16px;
    height: auto;
    padding: 15px;
	margin: 0;
	
    resize: none;
	
	-webkit-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;	
	   -moz-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
		 -o-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
		    transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
}

#commentform input {
    float: left;
    margin: 0 20px 0 0;
    width: 290px;
}

#commentform textarea {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    resize: vertical;
    width: 100%;
}

#commentform input:focus,
#commentform textarea:focus {
	border-color: #D0DBE2;
	color: #323A45;
}

#commentform #submit {
    background: #323A45;
    color: #FFFFFF;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    border-radius: 2px;
	border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 40px;
    text-align: center;
    vertical-align: middle;
    width: auto;
	
	-webkit-transition: background 0.15s ease-in-out 0s;
	   -moz-transition: background 0.15s ease-in-out 0s;
		 -o-transition: background 0.15s ease-in-out 0s;
		    transition: background 0.15s ease-in-out 0s;
}

#commentform #submit:hover {
    background: #F97E76;
}

/*-----------------------------------------------------------------------------------*/
/*	17.	Sidebar
/*-----------------------------------------------------------------------------------*/

#sidebar {
	font-size: 13px;
	line-height: 20px;
}

/* Right Sidebar - Left Content */

.page.page-template .span9.left_side,
.single.single-post .span9.left_side {
	float: left;
}

.page.page-template .span3.right_side,
.single.single-post .span3.right_side  {
	float: right;
}

/* Left Sidebar - Right Content */

.page.page-template .span3.left_side,
.single.single-post .span3.left_side  {
	float: left;	
}

.page.page-template .span9.right_side,
.single.single-post .span9.right_side {
	float: right;
}


/*-----------------------------------------------------------------------------------*/
/*	18.	Latest Works
/*-----------------------------------------------------------------------------------*/

#latest-work {
	position: relative;
	background-color: #E9F0F4;
	padding: 80px 0 90px;
}

#latest-work h3 {
	font-size: 14px;
	font-weight: 700;
	margin: 0 0 40px;
	text-transform: uppercase;
	text-align: center;
}

#latest-work-thumbs {
	margin: 0;
	padding: 0;	
}

#latest-work-thumbs li {
	list-style: none;
	margin-bottom: 30px;	
}

.work-item-thumbs {
	position: relative;
	overflow: hidden;	
}

.work-item-thumbs .hover-wrap {
    position: relative;
	overflow: hidden;
	display: block;
    height: 100%;
    width: 100%;
}

.work-item-thumbs .hover-wrap img {
	position: relative;
	width: 100%;	
	
	top: 0;
	
	-webkit-transition: top 0.15s ease-in-out 0s;	
	   -moz-transition: top 0.15s ease-in-out 0s;
		 -o-transition: top 0.15s ease-in-out 0s;
		    transition: top 0.15s ease-in-out 0s;
}

.work-item-thumbs:hover .hover-wrap img,
.work-item-thumbs:active .hover-wrap img,
.work-item-thumbs.tapped .hover-wrap img {
	top: 80px;
}

.work-item-thumbs .hover-wrap .overlay {
	position: absolute;
	display: block;
    height: 100%;
    width: 100%;
	left: 0;
	top: 0;
	
	background: #F97E76;
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 0.15s ease-in-out 0s;	
	   -moz-transition: opacity 0.15s ease-in-out 0s;
		 -o-transition: opacity 0.15s ease-in-out 0s;
		    transition: opacity 0.15s ease-in-out 0s;
}

.work-item-thumbs:hover .hover-wrap .overlay,
.work-item-thumbs:active .hover-wrap .overlay,
.work-item-thumbs.tapped .hover-wrap .overlay {
	opacity: 0.85;	
	filter: alpha(opacity=85);
}

.work-item-thumbs i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 41px 0 0 -8px;
	
	color: #FFFFFF;
	font-size: 16px;	
	
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 0.15s ease-in-out 0s;	
	   -moz-transition: opacity 0.15s ease-in-out 0s;
		 -o-transition: opacity 0.15s ease-in-out 0s;
		    transition: opacity 0.15s ease-in-out 0s;
}

.work-item-thumbs:hover .hover-wrap i,
.work-item-thumbs:active .hover-wrap i,
.work-item-thumbs.tapped .hover-wrap i {
	opacity: 1;	
	filter: alpha(opacity=100);
}

.work-item-thumbs h5 {
	position: absolute;
	top: -120px;
    background-color: #FFFFFF;
    padding: 30px 0;
    text-align: center;
    width: 100%;
	margin-bottom: 0;
	
	z-index:2;
	
	-webkit-transition: all 0.15s ease-in-out 0s;	
	   -moz-transition: all 0.15s ease-in-out 0s;
		 -o-transition: all 0.15s ease-in-out 0s;
		    transition: all 0.15s ease-in-out 0s;
}

.work-item-thumbs:hover h5,
.work-item-thumbs:active h5,
.work-item-thumbs.tapped h5 {
	top: 0px;	
}

.work-item-thumbs h5 a {
	font-weight: 400;	
}


/*-----------------------------------------------------------------------------------*/
/*	19.	Latest Blog Post
/*-----------------------------------------------------------------------------------*/

#latest-blog {
	position: relative;
	padding: 80px 0 90px;
}

#latest-blog h3 {
	font-size: 14px;
	font-weight: 700;
	margin: 0 0 40px;
	text-transform: uppercase;
	text-align: center;
}

#latest-blog img {
	width: 100%;	
}

#latest-blog .post .separator {
    height: 2px;
    position: relative;
    width: 50px;
	margin: 50px auto 30px;
	background: #F97E76;
	
	display: none;
}

#latest-blog .post:last-child .separator {
	display: none;	
}

#latest-blog .post {
	margin-bottom: 30px;
}

#latest-blog .hover-post {
	display: block;	
}

#latest-blog .post-thumb {
    position: relative;
	overflow: hidden;
	display: block;
    height: 100%;
    width: 100%;
	margin-bottom: 20px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#latest-blog .post-thumb .overlay {
	position: absolute;
	display: block;
    height: 100%;
    width: 100%;
	left: 0;
	top: 0;
	
	background: #F97E76;
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 0.35s ease-in-out 0s;	
	   -moz-transition: opacity 0.35s ease-in-out 0s;
		 -o-transition: opacity 0.35s ease-in-out 0s;
		    transition: opacity 0.35s ease-in-out 0s;
}

#latest-blog .post-thumb i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
	font-size: 16px;
	color: #FFFFFF;	
	
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 0.15s ease-in-out 0s;	
	   -moz-transition: opacity 0.15s ease-in-out 0s;
		 -o-transition: opacity 0.15s ease-in-out 0s;
		    transition: opacity 0.15s ease-in-out 0s;
}

#latest-blog .post-thumb:hover .overlay,
#latest-blog .post-thumb:active .overlay,
#latest-blog .post-thumb.tapped .overlay {
	opacity: 0.85;	
	filter: alpha(opacity=85);
}

#latest-blog .post-thumb:hover i,
#latest-blog .post-thumb:active i,
#latest-blog .post-thumb.tapped i {
	opacity: 1;	
	filter: alpha(opacity=100);
}

#latest-blog .entry-title {
	font-size: 22px;
}

#latest-blog .entry-title a {
	color: #323A45;
	font-weight: 400;
}

#latest-blog .entry-title a:hover {
	color: #F97E76;
}

#latest-blog .entry-meta, 
#latest-blog .entry-meta a {
	font-size: 14px;
	font-weight: 300;
	color: #AEAEAE;
}

#latest-blog .entry-meta a:hover {
	color: #F97E76;
}

#latest-blog .entry-meta .dividers {
    padding: 0 3px;
}

/*-----------------------------------------------------------------------------------*/
/*	20.	Big Twitter Feed Area
/*-----------------------------------------------------------------------------------*/

#twitter-feed {
	position: relative;
	background: #F7F8F9;
	padding: 80px 0 70px;
}

#twitter-feed .tweet_list {
	margin: 0;
	padding: 0;	
}

#twitter-feed .tweet_list li {
	list-style: none;
	text-align: center;
}

#twitter-feed .tweet_list li .tweet_text {
	font-size: 24px;
	line-height: 1.7em;
}

#twitter-feed .tweet_list li .tweet_text a,
#twitter-feed .tweet_list li .tweet_time a {
	color: #F97E76;
	font-weight: 400;	
}

#twitter-feed .tweet_list li .tweet_text a:hover,
#twitter-feed .tweet_list li .tweet_time a:hover {
	color: #323A45;	
}

#twitter-feed .tweet_list li .tweet_time {
	font-size: 13px;
	margin-top: 12px;
	font-weight: 400;
	color: #F97E76;
	display: block;	
}

/*-----------------------------------------------------------------------------------*/
/*	21.	Footer
/*-----------------------------------------------------------------------------------*/

footer {
	position: relative;
	background: #323A45;	
	padding: 80px 0 70px;
}

#social-footer ul {
	margin: 0;
	padding: 0;
	text-align: center;	
}

#social-footer ul li {
    cursor: pointer;
    display: inline-block;
    list-style: none;
    margin: 15px;
}

#social-footer ul li a {
    background-color: transparent;
	-webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
    display: block;
    height: 70px;
    width: 70px;
	
	-webkit-transition: background 0.35s ease-in-out 0s;	
	   -moz-transition: background 0.35s ease-in-out 0s;
		 -o-transition: background 0.35s ease-in-out 0s;
		    transition: background 0.35s ease-in-out 0s;
}

#social-footer ul li a i {
    color: #D0DBE2;
    display: inline-block;
    font-size: 32px;
    line-height: 70px;
    margin: 0;
	
	opacity: 0.3;
	filter: alpha(opacity=30);
	
	-webkit-transition: color 0.15s ease-in-out 0s;	
	   -moz-transition: color 0.15s ease-in-out 0s;
		 -o-transition: color 0.15s ease-in-out 0s;
		    transition: color 0.15s ease-in-out 0s;
}

#social-footer ul li:hover a {
    background-color: #F97E76;
}

#social-footer ul li:hover a i {
    color: #FFFFFF;
    opacity: 1;
}

/* Footer Credits */

#footer-credits {
	position: relative;
	background: #23282F;	
	padding: 20px 0;
	
	text-align: center;
}

#footer-credits p {
	color: #FFFFFF;
	font-size: 14px;
	margin-bottom: 0;	
}

#footer-credits p a {
	color: #FFFFFF;
	font-weight: 300;	
}

#footer-credits p a:hover {
	color: #F97E76;	
}

/*-----------------------------------------------------------------------------------*/
/*	22.	Bacl to Top
/*-----------------------------------------------------------------------------------*/

#back-to-top {
	display: none;
	background-color: #323A45;
	margin: 0;
	position: fixed;
	bottom: 0;
	right: 20px;
	width: 50px;
	height: 42px;
	z-index: 99;
	
	-webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	
	-webkit-transition: background 0.15s ease-in-out 0s;	
	   -moz-transition: background 0.15s ease-in-out 0s;
		 -o-transition: background 0.15s ease-in-out 0s;
		    transition: background 0.15s ease-in-out 0s;
}

#back-to-top:hover {
	background-color: #F97E76;
}

#back-to-top i {
	font-size: 16px;
	color: #FFFFFF;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -8px 0 0 -8px;
	line-height: 1em;
}

/*-----------------------------------------------------------------------------------*/
/*	23.	Audio and Video jPlayer Skin
/*-----------------------------------------------------------------------------------*/

audio:not([controls]) {
	display: none;
	height: 0;	
}

.jp-jplayer { 
	height: 30px;
    background-color: transparent;
    width: 100%!important; 
}

.jp-video-container,
.jp-audio-container {
    border: 1px solid #131313;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    position: relative;
    width: 100%;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.jp-jplayer-video img {
	margin-bottom: 0px!important;
	width: 100%!important;
	height: auto!important;
	display: block;	
}

.jp-jplayer-video {
	overflow: hidden;
}

.jp-jplayer-video video {
	display: block;	
	width: 100.2%!important; 
}

.jp-audio-container { width: 100%; }

.jp-interface {
	position: relative;
	width: 100%;
	height: 30px;
	background: #232427;
	z-index: 100;
}

.jp-controls {
	list-style-type: none;
	padding: 0;
	margin: 0!important;
}

.jp-controls li { display: inline; }

.jp-controls a {
    border-bottom: none;
	position: absolute;
	overflow: hidden;
	text-indent: -9999px;
}

.jp-controls a:hover { background-color: transparent; }

a.jp-play,
a.jp-pause {
	width: 30px;
	height: 30px;
	z-index: 1;
	outline: none;
	top: 0;
	left: 0;
}

a.jp-play { background: url(_include/img/jplayer.png) 0 0 no-repeat; }

a.jp-pause { 
    background: url(_include/img/jplayer.png) 0 -30px no-repeat; 
    display: none;
}

.jp-progress {
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    margin: 10px 0;
    padding: 0 100px 0 37px;
	position: absolute;
	height: 10px;
    width: 100%;
}

.jp-seek-bar {
    background: #191919;
    width: 0px;
	height: 9px;
	cursor: pointer;
	position: relative;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
}

.jp-play-bar {
	width: 0px;
	height: 7px;
	top: 1px;
	position: relative;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	background-color: #F97E76;
}

.jp-volume-bar-container {
	position: absolute;
	top: 0;
	right: 10px;
	width: 45px;
	height: 10px;
	margin: 10px 0;
}

.jp-volume-bar {
	position: relative;
	overflow: hidden;
	background: #191919;
	width: 100%;
	height: 9px;
	cursor: pointer;
	top: 0;
}

.jp-volume-bar-value {
	width: 0px;
	height: 7px;
	margin: 1px;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	background-color: #F97E76;
}

a.jp-mute,
a.jp-unmute {
	width: 30px;
	height: 30px;
	z-index: 1;
	outline: none;
	top: 0;
	right: 62px;
}

a.jp-mute { background: transparent url(_include/img/jplayer.png) 0 -60px no-repeat; }

a.jp-unmute { background: url(_include/img/jplayer.png) 0 -90px no-repeat; }

/*-----------------------------------------------------------------------------------*/
/*	24.	Error Page
/*-----------------------------------------------------------------------------------*/

#error-404 {
	margin-top: 100px;
	text-align: center;
}

#error-404 h1 {
	font-size: 9em;
	font-weight: 700;
	line-height: 1em;	
}

#error-404 h2 {
	font-size: 48px;
	text-transform: uppercase;
}

/*-----------------------------------------------------------------------------------*/
/*	25.	Widgets
/*-----------------------------------------------------------------------------------*/

.widget {
	margin-bottom: 40px;
}

.widget ul {
	margin: 0;
	padding: 0;
}

.widget ul li {
	list-style: none;
}

.widget ul.children,
.widget ul.sub-menu {
	padding-left: 20px;
}

.widget-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 15px;
	text-transform: uppercase;
}

/* Calendar */

.widget_calendar {
	position: relative;	
}

.widget_calendar table {
	width: 100%;
	border-collapse:collapse;
}

.widget_calendar table td, #footer-outer #footer-widgets .col .widget_calendar table th {
	text-align: center;
	
}

.widget_calendar table tbody td {
	border: 0px;
	padding: 4px;
	font-size: 11px;
	color: #666666;
}

.widget_calendar table tbody tr td:first-child {
	border-left: 0px;
}

.widget_calendar table tbody tr:nth-child(2n+1) {
	background-color: #f0f0f0;
}

.widget_calendar table th {
	border-bottom: 0px;
	text-align: center!important;
	padding-bottom: 10px;
	color: #999999;
}

.widget_calendar table #prev {
	text-align: left;
	position: relative; 
	padding: 10px 0px 0px 0px;
	z-index: 2;
}

.widget_calendar table #next {
	text-align: right;
	position: relative; 
	padding: 10px 0px 0px 0px;
	z-index: 2;
}

.widget_calendar caption {
	position: absolute;
	bottom: 0px;
	z-index: 1;
	width: 100%;
	text-align: center;
}

/* Search */

.widget_search form {
	margin: 0;
}

#searchform input[type="text"],
.widget_search form input[type="text"] {
    border: 1px solid #E9F0F4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    border-radius: 2px;
	
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    width: 100%;
	
	background: #FFFFFF;
    color: #BCBCC4;
    font-size: 16px;
    height: auto;
    padding: 15px;
	margin: 0;
	
    resize: none;
	
	-webkit-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;	
	   -moz-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
		 -o-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
		    transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
}

#searchform input[type="text"]:focus,
.widget_search form input[type="text"]:focus {
	border-color: #D0DBE2;
	color: #323A45;
}

/* RSS Widget */

.rsswidget img {
	display: none;	
}

/* Tag Cloud */

.tagcloud a {
	display: inline-block;
  	margin-bottom: 0;
  	padding: 10px 16px;
  	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
  	background-color: #F97E76;
  	color: #FFFFFF !important;
  	vertical-align: middle;
	line-height: 1em;
  	font-weight:500;
  	font-size: 13px !important;
  	cursor: pointer;
	border:none;
  
	-webkit-transition: background 0.15s ease-in-out 0s;	
	   -moz-transition: background 0.15s ease-in-out 0s;
		 -o-transition: background 0.15s ease-in-out 0s;
		    transition: background 0.15s ease-in-out 0s;
			
  	*border: 0;
  	*zoom: 1;	
}

.tagcloud a:hover,
.tagcloud a:active,
.tagcloud a:focus {
	background-color: #23282F;
}

/* Flickr Widget */

.widget_quick-flickr-widget {
	float: left;
	margin-top: 5px;	
}

.widget_quick-flickr-widget ul {
	margin: 0;
	padding: 0;	
}

.widget_quick-flickr-widget ul li {
	list-style: none;
	position: relative;
	display: inline-block;
    margin: 0 10px 10px 0;
}

.widget_quick-flickr-widget ul li a {
    display: block;
}

.widget_quick-flickr-widget ul li a img {
	width: 50px !important;
	height: 50px;	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.widget_quick-flickr-widget ul li a .overlay {
	position: absolute;
	display: block;
    height: 100%;
    width: 100%;
	left: 0;
	top: 0;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	background: #F97E76;
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 0.15s ease-in-out 0s;	
	   -moz-transition: opacity 0.15s ease-in-out 0s;
		 -o-transition: opacity 0.15s ease-in-out 0s;
		    transition: opacity 0.15s ease-in-out 0s;
}

.widget_quick-flickr-widget ul li a:hover .overlay {
	opacity: 0.55;	
	filter: alpha(opacity=55);
}

.widget_quick-flickr-widget ul li a i {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #FFFFFF;
	font-size: 16px;
	margin: -8px 0 0 -8px;	
	
	opacity: 0;	
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 0.15s ease-in-out 0s;	
	   -moz-transition: opacity 0.15s ease-in-out 0s;
		 -o-transition: opacity 0.15s ease-in-out 0s;
		    transition: opacity 0.15s ease-in-out 0s;
}

.widget_quick-flickr-widget ul li a:hover i {
	opacity: 1;	
	filter: alpha(opacity=100);
}

/* Twitter Widget */

.twitter-widget {
	padding: 0;	
}

.twitter-widget li {
	list-style: none;
	line-height: 24px;
	margin-bottom: 18px;
}

.twitter-widget li .twitter-date a {
	color: #23282F;
	font-size: 12px;
	font-weight: 400;
	margin-top: 5px;
	display: block;	
}

.twitter-widget .twitter-link a {
  	display: inline-block;
  	margin-bottom: 0;
  	padding: 12px 24px;
  	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
  	background-color: #F97E76;
  	color: #FFFFFF;
  	vertical-align: middle;
	line-height: 1em;
  	font-weight:500;
  	font-size: 13px;
  	cursor: pointer;
	border:none;
  
	-webkit-transition: background 0.15s ease-in-out 0s;	
	   -moz-transition: background 0.15s ease-in-out 0s;
		 -o-transition: background 0.15s ease-in-out 0s;
		    transition: background 0.15s ease-in-out 0s;
			
  	*border: 0;
  	*zoom: 1;
}

.twitter-widget .twitter-link a:hover,
.twitter-widget .twitter-link a:active,
.twitter-widget .twitter-link a:focus {
	background-color: #23282F;
}

/* Social Widget */

.social_widget a {
	width: 32px;
	height: 32px;
	
	display: inline-block;
	margin: 0 15px 15px 0;

	background-color: #323A45;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	text-align: center;
	
	-webkit-transition: background 0.15s ease-in-out 0s;	
	   -moz-transition: background 0.15s ease-in-out 0s;
		 -o-transition: background 0.15s ease-in-out 0s;
		    transition: background 0.15s ease-in-out 0s;
}

.social_widget a i {
	display: inline-block;
	margin: 0;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 32px;
}

.social_widget a:hover {
	background-color: #F97E76;	
}

/***** Footer Area Widgets ******/

.footer-widgets .widget {
	margin-bottom: 0;
}

.footer-widgets {
	color: #FFFFFF;
	font-size: 14px;
}

.footer-widgets h3 {
	color: #FFFFFF;
	font-size: 20px;	
}

.footer-widgets a {
	color: #F97E76;	
}

.footer-widgets a:hover {
	color: #FFFFFF;
}

/* Search */

.footer-widgets .widget_search form {
	margin: 0;
}

.footer-widgets .widget_search form input[type="text"] {
    border: 1px solid #232727;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    border-radius: 2px;
	
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    width: 100%;
	
	background: #23282F;
    color: #BCBCC4;
    font-size: 16px;
    height: auto;
    padding: 15px;
	margin: 0;
	
    resize: none;
	
	-webkit-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;	
	   -moz-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
		 -o-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
		    transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
}

.footer-widgets .widget_search form input[type="text"]:focus {
	color: #FFFFFF;
}

/* Footer Twitter Widget */

.footer-widgets .twitter-widget li .twitter-date a {
	color: #FFFFFF;
}

/* Footer Calendar Widget */

.footer-widgets .widget_calendar table tbody tr:nth-child(2n+1) {
	background-color: #23282F;
}

.footer-widgets .widget_calendar table tbody td {
	color: #F0F0F0;
}

.footer-widgets .widget_calendar table th {
	color: #FFFFFF;
}

/* Social Widget */

.footer-widgets .social_widget a {
	background-color: #23282F;	
}

.footer-widgets .social_widget a:hover {
	background-color: #F97E76;	
}

/*-----------------------------------------------------------------------------------*/
/*	26.	Isotope Portfolio Filtering Settings
/*-----------------------------------------------------------------------------------*/

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

