/*
Stylish Select 0.4.1 - $ plugin to replace a select drop down box with a stylable unordered list
http://scottdarby.com/

Copyright (c) 2009 Scott Darby

Requires: jQuery 1.3 or newer

Dual licensed under the MIT and GPL licenses.

*/


/*==================================
Hide lists on page load
====================================*/

.stylish-select ul.newList {
	left:-9999px;
}
/*==================================
red curvy example
====================================*/
ul.newList * {
	margin:0;
	padding:0;
}
ul.newList a {
	color: #000;
	text-decoration:none;
	display:block;
	cursor:pointer;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	outline:none;
}
ul.newList {
	margin:0;
	padding:0;
	list-style:none;
	color:#000;
	width:290px;
	background:#fff;
	position:absolute;
	top:22px;
	left:0;
	overflow:auto;
	z-index:9999;
}
.newListSelected {
	width:285px;
	color:#000;
	height:19px;
	padding:3px 0 0 6px;
	float:left;
	background:url(select-bg.png) no-repeat;
}
.newListSelected span {
	width:284px;
	display:block;
}
ul.newList li {
}
ul.newList li a:hover {
	background:#FFFFFF;
	padding-left:15px;
}
ul.newList li a:focus {
	-moz-outline-style: none;
}
.selectedTxt {
	width:258px;
	overflow:hidden;
	height:16px;
	padding:0 0px 0 0;
}
.hiLite {
	background:#650101!important;
	color:#fff!important;
}
.hiLite a {
	background:#650101!important;
	color:#fff!important;
}
.newListHover {/*background:#ccc!important;*/
	color:#000!important;
	cursor:pointer;
}
.newListSelHover, .newListSelFocus {
	background-position:0 -22px;
	cursor:pointer;
}
.newListOptionTitle {
	font-weight:bold;
}
.newListOptionTitle ul {
	margin:3px 0 0;
}
.newListOptionTitle li {
	font-weight:normal;
	border-left:1px solid #ccc;
}
/*======================================
windows xp style - div that contains the 
<select> has been given an id of #win-xp
(for the purposes of this example
========================================*/
#win-xp .newListSelected {
	background:#e8f0f3 url(droparrow.jpg) no-repeat 95% 50%;
	border-radius:0px;
	border: 1px solid #e8eff5;
	color:#000;
	width:326px;
	padding:15px 10px;
	margin-bottom:12px;
	outline:none;
}
#win-xp .newListSelected div {
	display:block;
	text-align:left !important;
	width:326px;
}
#win-xp ul.newList {
	list-style:none;
	color:#000;
	width:346px;
	background:#fff;
	top:50px!important;
	left:0;
	height:auto;
	overflow:auto;
	font-size: 0.85em;
	text-align:left!important;
	position:absolute;
	z-index:9999;
	border-bottom: 1px solid #CCCCCC;
}
#win-xp ul.newList li {
	padding: 8px 0px 8px 15px!important;
	border-bottom: 1px solid #cee1e8;
	border-left: 2px solid #cee1e8;
	border-right: 2px solid #cee1e8;
}
#win-xp ul.newList li a {
	border:0px;
}
#win-xp .hiLite {
	background:#316ac5!important;
	color:#fff!important;
}
#win-xp .newListHover {/*background:#ccc!important;*/
	color:#000!important;
	cursor:pointer;
}
#win-xp .newListSelHover {
	cursor:pointer;
}
#win-xp .newListSelHover, #win-xp .newListSelFocus {
	background-position:auto;
}
#win-xp .newListSelHover div, #win-xp .newListSelFocus div {
}
body {
	background:#ddd;
}
.span4 {
	background:#fff;
	padding:10px 5px;
	width:300px;
	text-align:center;
}
.span4 p {
	line-height:20px;
}
.button-main {
	display: inline-block;
	margin-bottom: 0;
	padding: 12px 24px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #323A45;
	outline:none;
	color: #FFFFFF!important;
	border-bottom:none!important;
	vertical-align: middle;
	line-height: 1em;
	text-align: center;
	text-transform: uppercase;
	text-decoration:none;
	font-weight:500;
	font-size: 14px;
	cursor: pointer;
	border:none;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
 *border: 0;
 *zoom: 1;
}
/*--- Hover/Active/Focus State ---*/

.button-main:hover {
	background-color: #f7941d!important;
	color: #FFFFFF;
}
