#button-dialog #insert {
    display: block;
    float: right;
    margin: 10px 0 0 0;
    text-align: center;
    line-height: 24px;
}

#TB_window {
    height: auto !important;
    background-color: #F1F1F1;
}

#TB_ajaxContent {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
}

#TB_title {
	height: 50px !important;
	background: #232427 !important;
	line-height: 50px;	
}

#TB_ajaxWindowTitle {
	padding: 0 0 0 20px !important;
	font-size: 14px !important;
	font-weight: bold;	
}

#TB_closeAjaxWindow {
	padding: 16px 20px !important;
}

.shortcode-dynamic-item .redux-opts-screenshot {
    width: 100%;
}

.redux-opts-upload-remove {
    margin-top: 10px;
}

input[type=radio] {
    margin-right: 18px;
}

.icon-option i {
    display: inline-block;
    margin-right: 1px;
    margin-bottom: 1px;
    width: 32px;
    height: 32px;
    border: 1px solid #D7D8D4;
    border-radius: 4px;
    color: #BCBCC4;
    vertical-align: center;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.icon-option i:hover {
    position: relative;
    z-index: 200;
    background: #FFFFFF;
    color: #232427;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

.icon-option i.selected {
    background-color: #fff;
    color: #232427;
}

.shortcode-content .remove-list-item {
    position: relative;
    float: right;
    margin-left: 5px;
}

.shortcode-content .add-list-item {
    position: relative;
    float: right;
}

.shortcode-dynamic-item input[type=text], 
.shortcode-dynamic-item textarea {
    margin-bottom: 3px;
}

select#az-shortcodes {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 !important;
    padding: 10px !important;
    width: 100% !important;
    height: 40px !important;
    cursor: pointer;
}

#az-shortcodes option {
    display: block;
    padding: 5px;
    text-indent: 10px;
}

select#az-shortcodes:focus {
    outline: 0 !important;
    text-decoration: none !important;
}

.shortcode-content input[type="text"], 
.shortcode-content textarea {
    padding: 10px;
    color: #555;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.shortcode-content input[type="text"], 
.shortcode-content textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
}

div.label {
    display: inline-block;
    float: left;
    margin: 10px 0px;
    width: 30%;
}

div.content {
    display: inline-block;
    width: 70%;
}

div.clear {
    clear: both;
    margin: 19px 0px;
    border-bottom: 1px solid #ddd;
}

.shortcode-options {
    display: none;
}

.shortcode-options label {
    display: inline;
    margin-right: 3px;
    min-width: 0px!important;
}

div[data-type="radios"] label,
div[data-type="direct_to_editor"] label {
    display: inline;
}

div[data-type="radios"] .content,
div[data-type="checkbox"] .content {
    margin: 7px 0px;
}

.description {
    margin: 3px 0 0 0;
    color: #666666;
    font-style: italic;
}

.hr {
    margin: 20px 0px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.btn {
    display: inline-block;
    margin: 5px 0 15px;
    padding: 13px 16px !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #1abc9c;
    color: #fff!important;
    text-decoration: none;
    font-size: 12px;
    line-height: normal;
    cursor: pointer;
}

.btn.orange {
    display: inline-block;
    margin: 15px 0 20px 5px;
    background-color: #e67e22;
}

.btn:hover {
    background-color: #2c3e50;
    color: #fff;
    text-decoration: none;
}

#shortcode-generator option[disabled=disabled] {
    margin-top: 10px;
    background: #333;
    color: #FFF;
    font-weight: bold;
}

#shortcode-generator .shortcode-dynamic-item {
    position: relative;
    margin-bottom: 30px;
}

#shortcode-generator .shortcode-dynamic-items > div:last-child {
    margin-bottom: 0px;
}

#shortcode-generator .shortcode-dynamic-item-text {
    margin-top: 4px;
    height: 125px;
}

#shortcode-generator .shortcode-content {
    padding: 15px 15px;
}

.shortcode_storage {
    display: none;
}

label#option-label {
    display: block;
    font-weight: bold;
}

#shortcode-content textarea#content {
    height: 180px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
}

#shortcode-content textarea#content:focus, 
#shortcode-content input[type="text"]:focus {
    border-color: #AAAAAA;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

#shortcode-content {
    display: none;
}