.az-debug textarea {
    width: 800px;
    height: 400px;
}

.az-metabox-table tr {
    border-bottom: 1px solid #EEEEEE;
}

.az-metabox-table tr:last-child {
	border: none;	
}

.az-metabox-table th {
    width: 25%;
}

.az-metabox-table label span {
    display: block;
    margin: 5px 0 0;
    color: #999999;
    line-height: 20px;
}

.az-metabox-table input, .az-metabox-table textarea {
    float: left;
    margin-right: 20px;
    width: 100%;
}

.az-metabox-table input[type=checkbox] {
    width: 20px;
}

.az-metabox-table input.file {
    width: 85%;
}

.az-metabox-table input.button {
    margin-right: 0;
    width: auto;
}

.az-metabox-table input.radio {
    float: none;
    margin-right: 3px;
    width: auto;
}

.az-metabox-table .radio-label {
    margin-right: 10px;
}

.az-metabox-table img {
    display: block;
    width: 50%;
}